button#button1 {
	position: relative;
	bottom: 8px;
	height: 50px;
}

#list {
	width: 80%;
}
#input {
	width: 77%;
	margin-left: 5%;
}
div#ld {
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
